@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Staatliches');

body {
    color: #333;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    background-color: #333;
}

header {
    font-family: "Staatliches", cursive;
}

h1 {
    font-size: 4rem;
    word-spacing: 4px;
}

h1 a {
    text-decoration: none;
}

a {
    color: #333;
}

h2 {
    font-size: 2rem;
    word-spacing: 4px;
    margin-bottom: 1rem;
    font-weight: 700;
}

p, li {
    line-height: 2rem; 
    font-size: 1.5rem;
}

@media (max-width: 800px) {
    p, li {
        line-height: 1.5rem; 
        font-size: 1rem;
    }
}

p + p {
    margin-top: 1.5rem;
}

em {
    font-style: italic;
}

#tagline {
    font-size: 1rem;
    margin-bottom: 1rem;
    word-spacing: 2px;
}

#links > li + li:before {
    content: "\2022";
    margin-right: 0.5rem;
    color: white;
}

#links li + li {
    margin-left: 0.5rem;
}

#links li {
    display: inline-block;
}

#links li a {
    font-size: 1.5rem;
}

#social {
    width: 100%;
    padding: 1rem;
    text-align: right;
}

#social li {
    display: inline-block;
    padding: 0.5rem;
}

#social li a {
    font-size: 1.5rem;
    color: #aaa;
}


#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#background-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(
        to bottom,
         hsla(240, 50%, 50%, 0.4),
         hsla(240, 50%, 50%, 0.4) 50%,
         hsla(240, 50%, 50%, 0.5) 50%,
         hsla(240, 50%, 50%, 0.5)
    );
    background-size: 100% 30px;
}

#home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#home h1, #home a, #home p {
    color: white;
}

/* About */

#about {
    min-height: 100vh;
    padding: 1rem;
    background: linear-gradient(
        to bottom,
         hsla(240, 50%, 90%),
         hsla(240, 50%, 95%) 50%,
         hsla(240, 50%, 95%) 50%,
         hsla(240, 50%, 90%)
    );
    background-size: 100% 30px;
}

#about main ul {
    list-style: circle;
}

#about main li {
    display: list-item;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
}

#about main {
    display: flex;
    justify-content: center;
}

#about main img {
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#about .content-wrapper {
    max-width: 40rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 0 4px #ccc;
}

@media (max-width: 800px) {
    #about .content-wrapper {
        padding: 1rem;
    }
}

/* Speaking */
#speaking {
    min-height: 100vh;
    padding: 1rem;
    background: linear-gradient(
        to bottom,
         hsla(240, 50%, 90%),
         hsla(240, 50%, 95%) 50%,
         hsla(240, 50%, 95%) 50%,
         hsla(240, 50%, 90%)
    );
    background-size: 100% 30px;
}

#speaking main {
    display: flex;
    justify-content: center;
}

#speaking h2 {
    margin-bottom: 2rem;
}

#speaking .content-wrapper {
    max-width: 40rem;
    flex: 1;
}

#speaking #talks {
    margin-top: 2rem;
}

#speaking #talks h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#speaking #talks address, #speaking #talks time {
    display: inline-block;
    font-style: italic;
}

#speaking #talks li {
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 2rem;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 4px #ccc;
}

/* Talk */

#talk {
    min-height: 100vh;
    padding: 1rem;
    background: linear-gradient(
        to bottom,
         hsla(240, 50%, 90%),
         hsla(240, 50%, 95%) 50%,
         hsla(240, 50%, 95%) 50%,
         hsla(240, 50%, 90%)
    );
    background-size: 100% 30px;
}

#talk main {
    display: flex;
    justify-content: center;
}

#talk h2 {
}

#talk .content-wrapper {
    max-width: 40rem;
    flex: 1;
}

#talk address, #talk time {
    display: inline-block;
    font-style: italic;
}

#talk .content-wrapper {
    margin-bottom: 1rem;
    margin-top: 2rem;
    background-color: #fff;
    padding: 2rem;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 4px #ccc;
}

#talk iframe {
    height: 500px;
    width: 100%;
}

#talk img {
    width: 100%;
    margin-bottom: 2rem;
}

#talk .images li {
    width: 100%;
    display: block;
    margin-left: 0;
}

#talk .links {
    width: 100%;
    margin-bottom: 2rem;
}

#talk .links li {
    margin-bottom: 1rem;
}

#talk .abstract {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#talk .video-container {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    width:100%;
    margin-bottom: 2rem;
}

#talk .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

#talk main ul {
    margin-top: 0.5rem;
    list-style: circle;
    margin-bottom: 0.5rem;
}

#talk main li {
    display: list-item;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
}

#talk h2 {
    margin-top: 0;
}

#talk h3 {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#talk .abstract p, .abstract li {
    max-width: 30rem;
}
