{{#extend "main"}}
    {{#content "main"}}
        <div class="content-wrapper">
            <h2>Let&rsquo;s make the web!</h2>
            <p>I’m here to create, enjoy life, and empower others to do the same.</p>
            <p>I’m currently the executive director of <a href="https://developdenver.org/" target="_BLANK">Develop Denver</a> and a Lead Instructor at <a href="https://flatironschool.com/" target="_BLANK">Flatiron School</a>.</p>
            <p>I was previously the co-host of the <a href="https://www.sprintuxpodcast.com/" target="_BLANK">Sprint UX podcast</a> and the faculty director for <a href="https://www.galvanize.com/" target="_BLANK">Galvanize’s</a> software education programs in Denver.</p>
            <p>I hold a Master of Engineering in Engineering Management degree from the <a href="https://www.colorado.edu/emp/" target="_BLANK">University of Colorado</a> and a Bachelor of Science in Computer Information Systems degree from the <a href="https://msudenver.edu/cis/" taraget="_BLANK">Metropolitan State University of Denver</a>, as well as degrees from the <a href="https://www.artinstitutes.edu/seattle/academics/film-production/audio-production-degree-program" target="_BLANK">Art Institue of Seattle</a> and <a href="https://www.bellevuecollege.edu/" target="_BLANK">Bellevue College</a>.</p>
            <p>I was once (accurately) described as “that Linux user no one gives a shit about.” I love the Denver Broncos, stand-up comedy, and ska music.</p>
            <img src="/assets/headshot.jpg" alt="Kyle Coberly" />
        </div>
    {{/content}}
{{/extend}}
