{{#extend "main"}}
    {{#content "main"}}
        <div class="content-wrapper">
            <h2>Let&rsquo;s make the web!</h2>
            <p>I’m here to create, enjoy life, and empower others to do the same.</p>
            <p>I’m currently the executive director of the <a href="https://developdenver.org/">Develop Denver</a>, the co-host of the <a href="https://www.sprintuxpodcast.com/">Sprint UX podcast</a>, and the Technical Lead for <a href="https://healthscholars.com/">Health Scholars</a>, a clinical education startup.</p>
            <p>I was previously the faculty director for <a href="https://www.galvanize.com/">Galvanize’s</a> software education programs in Denver, a skunkworks developer for <a href="https://www.pearson.com/us/">Pearson Education</a>, Director of Instruction for <a href="https://www.mymusicskool.com/">My Music Skool</a>, and a regional manager for a musical instruments marketing firm.</p>
            <p>I hold a Master of Engineering in Engineering Management degree from the <a href="https://www.colorado.edu/emp/">University of Colorado</a> and a Bachelor of Science in Computer Information Systems degree from the <a href="https://msudenver.edu/cis/">Metropolitan State University of Denver</a>, as well as degrees from the <a href="https://www.artinstitutes.edu/seattle/academics/film-production/audio-production-degree-program">Art Institue of Seattle</a> and <a href="https://www.bellevuecollege.edu/">Bellevue College</a>.</p>
            <p>I was once (accurately) described as “that Linux user no one gives a shit about.” I love the Denver Broncos, stand-up comedy, and ska music.</p>
            <img src="/assets/headshot.jpg" alt="Kyle Coberly" />
            <h2>Some Things I Believe</h2>
            <ul>
                <li>People learn <em>concrete-to-abstract</em>, not <em>abstract-to-concrete</em></li>
                <li>Content delivery is not the same thing as education</li>
                <li>Work can and should be meaningful and fun</li>
                <li>Tired people do bad work</li>
                <li>Agility is a way of life</li>
                <li>Plans engender a false sense of security</li>
                <li>Design is an engineering task, not an artistic one</li>
            </ul>
        </div>
    {{/content}}
{{/extend}}
