$white: #fff;
$black: hsl(210, 20%, 10%);

$primary-color: hsl(210, 70%, 57%);

$primary-color-1: #0A62BF;
$primary-color-3: #2379D2;
$primary-color-5: #4590DE;
$primary-color-7: #69A7E8;
$primary-color-9: #98C4F1;

$right-color-1: #2012C7;
$right-color-3: #3C30D8;
$right-color-5: #5251E2;
$right-color-7: #7C73EB;
$right-color-9: #A59FF3;

$left-color-1: #00C182;
$left-color-3: #15D496;
$left-color-5: #39DFA9;
$left-color-7: #5FE9BC;
$left-color-9: #91F2D2;

$gray-1: hsl(210, 20%, 10%);
$gray-3: hsl(210, 10%, 20%);
$gray-5: hsl(210, 10%, 35%);
$gray-7: hsl(210, 10%, 50%);
$gray-8: hsl(210, 10%, 65%);
$gray-9: hsl(210, 10%, 92%);
