footer {
  display: flex;
  justify-content: center;
  background-color: $gray-3;
  font-size: $font-baseline;
  color: $gray-8;
  padding-top: $xxl;
  padding-bottom: $xxxl;
  .content-wrapper {
    text-align: right;
    #social {
      border-bottom: 1px solid $gray-7;
      padding-bottom: $baseline;
      li {
        display: inline-block;
        font-size: $xl;
        margin-left: $baseline;
      }
    }
    small {
      display: inline-block;
      padding-top: $baseline;
    }
  }
}
