main > section {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  padding: $xxxxxl 0;
  @media (max-width: $small-breakpoint) {
    & {
      padding: $xl 0;
    }
  }
}

.content-wrapper {
  width: 1000px;
  @media (max-width: $medium-breakpoint) {
    & {
      width: 650px;
    }
  }
  @media (max-width: $small-breakpoint) {
    & {
      width: 100%;
      padding: $small;
    }
  }
}

@mixin hide { // Like display: none;, except accessible
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
