@mixin bad-scanlines {
  background: linear-gradient(
    to bottom,
    transparentize($primary-color-5, 0.4),
    transparentize($primary-color-5, 0.4) 50%,
    transparentize($primary-color-5, 0.5) 50%,
    transparentize($primary-color-5, 0.5),
  );
  background-size: 100% $large;
  background-color: transparentize($primary-color-5, 0.3);
  animation: 1.5s infinite alternate scanlines;
  @keyframes scanlines {
    from { background-position: 0 0; }
    to { background-position: 0 100%; }
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    h1, #tagline {
      align-self: flex-start;
    }
    #tagline {
      @include sub-header-type;
    }
    nav {
      align-self: flex-end;
      li {
        @include primary-nav-type;
        display: inline-block;
        margin: 0;
        color: $gray-9;
        & + li {
          margin-left: $large;
        }
      }
    }
  }
  #header-background-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @include bad-scanlines;
  }
}

#background {
  background-color: $black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#background-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  @include bad-scanlines;
}

.background-wrapper {
  position: relative;
  height: 100vh;
}
