header {
    padding: $xxl;
    @media (max-width: $medium-breakpoint) {
        & {
            padding: $baseline $xxs;
        }
    }
    h1 {
        @include primary-header-type;
        a {
            text-decoration: none;
        }
    }

    #tagline {
        @include tagline-type;
    }

    nav {
        li {
            display: inline-block;
            margin: 0;
            a {
                @include primary-nav-type;
            }
            & + li {
                margin-left: $xxs;
                &:before {
                    content: "\2022";
                    margin-right: $xxs;
                    color: inherit;
                }
            }
        }
    }
}
