#speaking {
  > header {
    height: auto;
    padding: $xxxxxl;
    position: relative;
    @media (max-width: $medium-breakpoint) {
      & {
        padding: 0;
      }
    }
  }
  > main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: $xxxxl 0;
    background: $white;
    @media (max-width: $medium-breakpoint) {
      & {
        padding: 0;
      }
    }
  }
  .talk {
    margin-left: 0;
    display: flex;
    flex-flow: row nowrap;
    background-color: $white;
    align-items: flex-start;
    .details {
      padding: 0 $large $xxl $large;
      flex: 8;
      @media (max-width: $medium-breakpoint) {
        & {
          padding: 0 $large;
        }
      }
      .external-link {
        background: url("/assets/icons/external.svg");
        background-size: cover;
        display: inline-block;
        width: 27px;
        height: 27px;
        margin-bottom: -3px; // Visual alignment
        margin-left: $baseline;
      }
      h3 {
        margin-bottom: $xs;
        color: $gray-1;
      }
      .byline {
        color: $gray-5;
      }
    }
    .icon {
      width: $xxxxxl;
      margin: 0;
      padding: $large 0;
      flex: 1;
      #apple-line {
        stroke: $gray-5;
      }
    }
  }
}
