#recent-writing {
  margin-top: -230px;
  background: linear-gradient(
    to bottom,
    transparentize($left-color-9, 0.5),
    transparentize($left-color-9, 0.6) 50%,
    transparentize($left-color-9, 0.6) 50%,
    transparentize($left-color-9, 0.5),
  );
  background-size: 100% $xl;
  clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 85%);
  padding: $xxxxxxxl 0; // Override to accomodate path clipping
  @media (max-width: $small-breakpoint) {
    & {
      margin-top: 0;
      padding-bottom: $xxl;
    }
  }
  .read-more {
    display: flex;
    justify-content: center;
    a {
      box-shadow: 0 2px 4px $gray-5;
      background-color: $left-color-3;
      color: $white;
      text-decoration: none;
      padding: $baseline $large;
      display: inline-block;
      @include primary-nav-type;
    }
  }
  .article {
    list-style: none;
    margin-left: 0;
    margin-bottom: $xxxxl;
    @media (max-width: $medium-breakpoint) {
      & {
        margin-bottom: $xxl;
      }
    }
    @media (max-width: $small-breakpoint) {
      & {
        margin-bottom: $xl;
      }
    }
    &:nth-child(1){
      .abstract {
        transform: rotateZ(1deg);
        @media (max-width: $small-breakpoint) {
          & {
            transform: rotateZ(0);
          }
        }
      }
    }
    &:nth-child(2){
      .abstract {
        transform: rotateZ(-1deg);
        @media (max-width: $small-breakpoint) {
          & {
            transform: rotateZ(0);
          }
        }
      }
    }
    article {
      .abstract-and-media {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        .abstract {
          flex: 1;
          padding: $xxl $xxxl;
          background-color: $white;
          background-image: repeating-linear-gradient(white 0px, white $large, transparentize(teal, 0.7) 25px);
          box-shadow: 0 1px 1px $gray-5;
          line-height: 1.4;
          font-size: $font-large;
          @media (max-width: $medium-breakpoint) {
            & {
              padding: $xl $xxl;
            }
          }
          @media (max-width: $small-breakpoint) {
            & {
              order: 2;
              flex: auto;
              padding: 0;
              background: none;
              box-shadow: none;
            }
          }
        }
        .media {
          flex: 1;
          img {
            margin: 0;
          }
          @media (max-width: $small-breakpoint) {
            & {
              flex: auto;
              order: 1;
              margin-bottom: $large;
            }
          }
        }
      }
    }
    &:nth-of-type(even){
      .abstract {
        order: 1;
        padding-right: $large;
        margin-left: -$xxxl;
        @media (max-width: $small-breakpoint) {
          & {
            padding: 0;
          }
        }
      }
      .media {
        order: 2;
        padding-left: $large;
        @media (max-width: $small-breakpoint) {
          & {
            padding: 0;
          }
        }
      }
    }
    &:nth-of-type(odd){
      .abstract {
        order: 2;
        padding-left: $large;
        margin-right: -$xxxl;
        @media (max-width: $small-breakpoint) {
          & {
            padding: 0;
          }
        }
      }
      .media {
        order: 1;
        padding-right: $large;
        @media (max-width: $small-breakpoint) {
          & {
            padding: 0;
          }
        }
      }
    }
  }
  .iframe-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 65%;
  }

  .iframe-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
  }
}


#writing {
  > header {
    height: auto;
    padding: $xxxxxl;
    position: relative;
    @media (max-width: $medium-breakpoint) {
      & {
        padding: 0;
      }
    }
  }
  > main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: $xxxxl 0;
    background: $white;
    @media (max-width: $medium-breakpoint) {
      & {
        padding: 0;
      }
    }
  }
  .talk {
    margin-left: 0;
    display: flex;
    flex-flow: row nowrap;
    background-color: $white;
    align-items: flex-start;
    .details {
      padding: 0 $large $xxl $large;
      flex: 8;
      @media (max-width: $medium-breakpoint) {
        & {
          padding: 0 $large;
        }
      }
      .external-link {
        background: url("/assets/icons/external.svg");
        background-size: cover;
        display: inline-block;
        width: 27px;
        height: 27px;
        margin-bottom: -3px; // Visual alignment
        margin-left: $baseline;
      }
      h3 {
        margin-bottom: $xs;
        color: $gray-1;
      }
      .byline {
        color: $gray-5;
      }
    }
    .icon {
      width: $xxxxxl;
      margin: 0;
      padding: $large 0;
      flex: 1;
      #apple-line {
        stroke: $gray-5;
      }
    }
  }
}
